<!DOCTYPE html>
<html>

<title>Twitter User Search</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<head>
<style>
table, th, td {
	border: 1px solid black;
}

td, th {
	text-align: center;
}
</style>
</head>

<body>

<h1>Twitter User Search Page</h1>
<div style="text-align:center;"><a href="{{ url_for('welcome') }}">Home</a></div>
<div style="text-align:center;"><a href="{{ url_for('displayUsers') }}">Twitter Users on File</a></div>

<h2>Twitter User Search Engine</h2>
<form action="{{ url_for('search') }}" method=post>
	Username: <input type=text name=username><br><br>
	User ID: <input type=text name=ID><br><br>
	<input type=submit value=Submit>
</form>

{% block body %}

{% if match == 'Empty' %}<p>Search fields are empty</p>
{% elif not match %}<p><b style="color:red">ERROR: </b>{{ err_message }}</p>
{% else %}
	<p>User has been found!</p>
	<img src="{{ match['Image URL'] }}" alt="No Image Available" width="100" height="100">
	<table>
		<tr>
			<th>Username</th>
			<th>User ID</th>
			<th>Account Creation Date</th>
			<th>Friend Count</th>
			<th>Follower Count</th>
			<th>Tweet Count</th>
			<th>Favorites Count</th>
			<th>Organization Count</th>
		</tr>

		<tr>
			<td>{{ match['Username'] }}</td>
			<td>{{ match['User ID'] }}</td>
			<td>{{ match['Account Creation Date'] }}</td>
			<td>{{ match['Friend Count'] }}</td>
			<td>{{ match['Follower Count'] }}</td>
			<td>{{ match['Tweet Count'] }}</td>
			<td>{{ match['Favorites Count'] }}</td>
			<td>{{ match['Organization Count'] }}</td>
		</tr>
	
	</table>
{% endif %}

{% endblock %}

<p><b>Instructions: </b>Fill in the fields to the best of your ability, and this engine will return all
matching results. If there is an error while processing the request, the webpage will display 'ERROR:
Twitter was unable to process your request: ' followed by the error message.</p>

</body>
</html>