<!DOCTYPE html>
<html>

<title>Twitter User Search</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<body>

<h1>Welcome to the Twitter User Search Page!</h1>
<h2>Twitter User Search Engine</h2>

<form action="{{ url_for('search') }}" method=post>
	Username: <input type=text name=username><br><br>
	User ID: <input type=text name=ID><br><br>
	<input type=submit value=Submit>
</form>

<p><b>Instructions: </b>Fill in the fields to the best of your ability, and this engine will return all
matching results. If there is an error while processing the request, the webpage will display 'ERROR:
Twitter was unable to process your request: ' followed by the error message.</p>

</body>


</html>